absl-py==0.12.0
actionlib==1.12.1
catkin==0.7.29
catkin-pkg==0.4.23
catkin-tools==0.6.1
empy==3.3.4
gazebo-plugins==2.8.7
gazebo-ros==2.8.7
imageio==2.9.0
json5==0.9.5
matplotlib==3.3.4
moveit-commander==1.0.8
moveit-core==1.0.8
moveit-python==0.4.1
moveit-ros-planning-interface==1.0.8
moveit-ros-visualization==1.0.8
numpy
open3d==0.12.0
opencv-python
pickle-mixin==1.0.2
Pillow==9.3.0
plotly==4.14.3
pybullet==3.1.7
pykdl-utils==0.1.0
PyYAML==5.4.1
rospkg==1.2.10
rospy==1.14.11
rosservice==1.14.11
scikit-image==0.18.1
scikit-learn
scipy==1.6.1
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
torch==1.8.1
torchaudio==0.8.1
torchsummary==1.5.1
torchvision==0.9.1
tqdm==4.59.0
wandb
